html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grow {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}

.tribe-events-calendar-month {
  @extend .bg-white;
}
