html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero-height {
  @include media-breakpoint-down(lg) {
    height: 30vh;
  }

  @include media-breakpoint-up(lg) {
    height: 40vh;
  }
}

.grow {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}
